@model Estacionamento.Entidades.Vagas

@{
    ViewData["Title"] = "_EditVagas";
}

<div>
    <p>@Model.Sigla</p>
    <p>@Model.Status</p>
</div>
<div>
    @if (Model.Veiculo != null)
    {
        <p>@Model.Veiculo.Marca</p>
        <p>@Model.Veiculo.Modelo</p>
        <p>@Model.Veiculo.Placa</p>
        <p>@Model.Veiculo.NomeProprietario</p>
    }
</div>

@*verificar como pegar as informações de veiculo da vaga em questao*@



