@model IEnumerable<Estacionamento.Entidades.Vagas>
@{
    ViewData["Title"] = "Inicio";
}

<style>
    .botaoVaga {
        height: 6rem;
        width: 3rem;
        margin: 0, 1rem, 5rem , 1rem;
    }

    .divVagas {
        text-align: center;
        margin: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Estacionamento FATEC TQ </h1>
</div>

@{string corBotao;}

<div class="divVagas">
    @foreach (var vaga in Model)
    {
        if (vaga.Status == "Ocupado")
            corBotao = "#FFD700";
        else corBotao = "cornflowerblue";

        if (vaga.Sigla.StartsWith('A'))
        {
            <button type="button" href="javascript:" vagaId="@vaga.Id" class="botaoVaga" style="background-color: @corBotao">@vaga.Sigla</button>
        }
    }
</div>
    <br>
<div class="divVagas">
    @foreach (var vaga in Model)
    {
        if (vaga.Status == "Ocupado")
         corBotao = "#FFD700";
        else corBotao = "cornflowerblue";

        if (vaga.Sigla.StartsWith('B'))
        {
            <button type="button" href="javascript:" vagaId="@vaga.Id" class="botaoVaga" style="background-color: @corBotao">@vaga.Sigla</button>
        }
    }
</div>

<div style="margin-top: 2rem">
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-right: 1rem" fill="cornflowerblue" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
        </svg>
        Livre
    </p>
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-right: 1rem" fill="#FFD700" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
        </svg>
        Ocupado
    </p>
</div>

<div id="modalEditVagas" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Vaga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="listaVagas"></div>
            </div>
        </div>
    </div>
</div>





