@model IEnumerable<Estacionamento.Entidades.Vagas>
@{
    ViewData["Title"] = "Inicio";
}

<style>
    .botaoVaga {
        height: 10rem;
        width: 5rem;
        margin-bottom: 3rem;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Estacionamento FATEC TQ </h1>
</div>

@{
    string corBotao;
}

@foreach (var vaga in Model)
{
    if (vaga.Status == "Ocupado")
    {
        corBotao = "#FFD700";
    }
    else { corBotao = "cornflowerblue"; }
    if (vaga.Sigla.StartsWith('A'))
    {
        <button type="button" href="javascript:" vagaId="@vaga.Id" class="botaoVaga" style="background-color: @corBotao">@vaga.Sigla</button>
    }
}
<br>
@foreach (var vaga in Model)
{
    if (vaga.Status == "Ocupado")
    {
        corBotao = "#FFD700";
    }
    else { corBotao = "cornflowerblue"; }
    Console.WriteLine(vaga.Id);
    if (vaga.Sigla.StartsWith('B'))
    {
        <button type="button" href="javascript:" vagaId="@vaga.Id" class="botaoVaga" style="background-color: @corBotao">@vaga.Sigla</button>
    }
}

<div id="modalEditVagas" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Edição de Vagas</p>
                <div id="listaVagas"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





