@model IEnumerable<Estacionamento.Entidades.Veiculos>

@{ViewData["Title"] = "Index";}

<h1>Veículos</h1>

<p><a asp-action="Create" class="btn btn-success">Novo Veículo</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Observação</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Placa</th>
            <th>Nome do Proprietário</th>
            <th>Contato</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TipoVeiculo)</td>
            <td>@Html.DisplayFor(modelItem => item.Observacao)</td>
            <td>@Html.DisplayFor(modelItem => item.Marca)</td>
            <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
            <td>@Html.DisplayFor(modelItem => item.Cor)</td>
            <td>@Html.DisplayFor(modelItem => item.Placa)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeProprietario)</td>
            <td>@Html.DisplayFor(modelItem => item.Contato)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mb-1">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mb-1">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
